body {
    font-family: Arial, sans-serif;
    background: #e8f5e9;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #2e7d32;
}

a {
    text-decoration: none;
}


.card {
    background: #ffffff;
    padding: 20px;
    margin: 15px auto;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

input {
    width: 80%;
    padding: 8px;
    margin: 5px 0;
}

button {
    padding: 8px 12px;
    background: #2e7d32;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #1b5e20;
}

ul {
    padding-left: 20px;
}

#suggestionsContainer .card {
    background: #f1f8e9;
    border-left: 6px solid #2e7d32;
}

#breakdownList li {
    background: #e8f5e9;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    list-style: none;
}

.footer {
    background: #ffffff;
    margin-top: 40px;
    border-top: 2px solid #e0e0e0;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 25px 50px;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 10px;
}

.footer-section h3,
.footer-section h4 {
    color: #2e7d32;
    margin-bottom: 10px;
}

.footer-section p {
    color: #555;
    font-size: 14px;
    margin: 6px 0;
}

.eco-text {
    font-style: italic;
    color: #388e3c;
}

.slogan p {
    font-weight: bold;
    color: #1b5e20;
}

.icon {
    width: 18px;
    vertical-align: middle;
    margin-right: 8px;
}

.footer-bottom {
    text-align: center;
    padding: 12px;
    background: #f5f5f5;
    font-size: 13px;
    color: #666;
}

.header {
    background-color: #ffffff;
    padding: 20px 15px;
    border-bottom: 2px solid #e0e0e0;
}

.header-container {
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    color: #2e7d32;
    margin: 0;
    font-size: 28px;
}

.tagline {
    margin-top: 5px;
    font-size: 14px;
    color: #558b2f;
    font-style: italic;
}

